webapp/WEB-INF/opensocial-oauth-filter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://xmlns.hidetake.org/opensocial-oauth-filter"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://xmlns.hidetake.org/opensocial-oauth-filter">

	<xsd:element name="opensocial-container" type="opensocial-container-type">
	</xsd:element>


	<xsd:element name="opensocial-oauth-filter" type="opensocial-oauth-filter-type"></xsd:element>

	<xsd:complexType name="opensocial-oauth-filter-type">
		<xsd:all>
			<xsd:element ref="opensocial-container"></xsd:element>
			<xsd:element ref="validation-event-listeners"></xsd:element>
		</xsd:all>

	</xsd:complexType>

	<xsd:complexType name="opensocial-container-type">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="oauth-consumer-key">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="oauth-signature-method">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="oauth-certificate">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
    </xsd:complexType>

    <xsd:element name="validation-event-listeners" type="validation-event-listeners-type"></xsd:element>

    <xsd:complexType name="validation-event-listeners-type">
        <xsd:all minOccurs="0">
    		<xsd:element ref="validation-event-listener"></xsd:element>
    	</xsd:all>
    </xsd:complexType>

    <xsd:complexType name="validation-event-listener-type">
    	<xsd:attribute name="classname">
    		<xsd:simpleType>
    			<xsd:restriction base="xsd:string">
    				<xsd:minLength value="1"></xsd:minLength>
    			</xsd:restriction>
    		</xsd:simpleType>
    	</xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="validation-event-listener" type="validation-event-listener-type"></xsd:element>
</xsd:schema>